:root {
  --white: #fefefe;
  --gray: #6c757d;
  --light-grey: #eaeaea;
  --light: #f8f9fa;
  --gray-dark: #343a40;
  --dark: #212529;
  --principal-color:#004481;
    --show: block;
    --hidden: none;
    --all-width: 100%;
    --box: inset -15.5em 0 0 0 #004481,inset 15.5em 0 0 0 #00448199;
    --backgroundtransparent: #0052D468;
    --background: linear-gradient(to left, #36D1DC99 60%, #fefefe 100%);
/*  --background: linear-gradient(to left, #36D1DCc9, #36D1DC10);*/
    --solid-bground: linear-gradient(to left, #36D1DC 0%, #80fffe 100%);
}

::-webkit-scrollbar {
    display: var(--hidden);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: var(--background);
/*    background: linear-gradient(to left, #fefefe 40%, #36D1DC99 100%);*/
}

body {
/*  text-size-adjust: var(--all-width);*/
  -webkit-tap-highlight-color: #1b1b1b90;
    width: auto;    
/*  color:var(--dark);*/
    color: var(--gray-dark);
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    font-optical-sizing: auto;
    letter-spacing: .05ch;
}

header {
    background: var(--background) no-repeat center;
}

h1 {
    margin-bottom: 20px;
    padding: 10px;
    /*font-size: clamp(3.2em, 4vw, 5em);*/
    font-weight: 900;
    /*letter-spacing: .5cap;*/
    line-height: 1.1;
/*    color: var(--dark);*/
    text-align: center;
    margin-bottom: 40px;

    color: var(--gray-dark);
/*    filter: drop-shadow(1px 2px 3px #2b2b2b99);*/
}

h2 {
    margin-bottom: 20px;
    padding: 5px;
    /*font-size: clamp(2.1em, 4vw, 3.2em);*/
    font-weight: 900;
    /*letter-spacing: .1cap;*/
    line-height: 1.1;
    color: var(--gray-dark);
    text-align: center;
    margin-bottom: 40px;
/*    color: var(--principal-color);*/
/*    filter: drop-shadow(1px 2px 3px #2b2b2b99);*/
}


h3 {
    font-size: 2em;
    letter-spacing: .1cap;
    line-height: 1;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    color: var(--gray-dark);
/*    filter: drop-shadow(1px 2px 3px #2b2b2b99);*/
}

h4 {
    font-size: 1.30em;
}

h5 {
    font-size: 1.25em;
    margin-bottom: 20px;
}

h6 {
    font-size: 1em;
    margin-bottom: 20px;
}

p {
    max-width: 75ch;
    margin: auto;
    margin-block: 1lh;

    text-align: justify;
    text-wrap: pretty;
    hyphenate-limit-chars: 7;
    hyphens: auto;
}

button {
    border-radius: 5px;
    cursor: pointer;
}

button:focus {
  outline: 1px solid var(--gray);
}

a {
    text-decoration: var(--hidden);
}

/*header {
    height: 90lvw;
}
*/
.header {
    display: flex;    
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    gap: 2em;
    width: 100%;
    max-width: 1800px;
    margin: auto;
    height: 241px;
}

.logo-container {
    /*display: flex;*/
    /*flex: 0.8;*/
    width: 250px;
    height: 150px;
    
/*border: 1px solid black;*/
}

.logo {
    display:block;
    /*display: flex;
    position: relative;
    justify-content: center;*/
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: url('../img/svg/crcvlogo.svg') center center / contain no-repeat;
    /*-webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;*/
}

.header-title {
    /*flex: 1;*/
/*    display: flex;*/
/*    flex-direction: row-reverse;*/

/*    justify-content: ;*/
/*    padding-right: 20px;*/
    text-align:center;
    font-weight: 900;
    text-wrap: balance;
    /*width: 40%;*/
    letter-spacing: .2cap;
    font-size: clamp(1em, 5vw, 1.6em);
    color: var(--white);
/*    filter: drop-shadow(1px 2px 3px #2b2b2b99);*/
/*    border: 1px solid green;*/
}
/*.header-title .title{
    width: 100%;
    margin: 0 auto;
    border: 1px solid red;
}*/
.navbar {
    display: flex;
    position: relative;
    flex-direction: row-reverse;
    height: 50px;
    border-bottom: 4px solid var(--light);
}

.nav-bar {
    display: flex;
    position: relative;
    list-style: var(--hidden);
    margin: 0 20px;
    letter-spacing: .1cap;
    align-items: center;
    justify-content: stretch;
}

.nav-item {
    width: 109px;
}

.active {
    color: var(--white);
}

.nav-link, .nav-link--footer {
    display: flex;
    position: relative;
    font-size: 0.8rem;
    margin: 0 2px;
    border-right: 1px solid var(--light);
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 50px;
    cursor: pointer;
    opacity: 1;
    text-decoration: var(--hidden);
     color: var(--dark); 
    transition: .4s ease-in;
    z-index: 1;
}

.nav-link:hover {
    z-index: 1;
    color: var(--white);
    opacity: 0.8;
    box-shadow: var(--box);
    border-bottom: 3px solid var(--gray);
}

.nav-link::before,
.nav-link::after {
    position: absolute;
    content: "";
    z-index: -1;
}

.nav-bar li:has(.active) {
    background: var(--backgroundtransparent);
}

.lineB {
    display: flex;
    position: relative;
    height: 55px;
    background: var(--background);
    border-bottom: 2px solid #36c0dc;    
    margin-bottom: .1em;
    justify-content: center;
}

.nav-button {
    display: var(--hidden);
}

.social--line {
    display: flex;
    position: relative;
    align-self: center;
    gap: 1.5em;
}

.social--line div{
    width: 45px;
    height: 35px;
}

.social--line div .facebook {
    display: block;
    background: url('../img/svg/facebook.svg') center no-repeat;
    width: 100%;
    height: 100%;
    color: #3b5998;
    transition: all .5s ease-in-out;
}

.social--line div .whatsapp {
    display: block;
    background: url('../img/svg/WhatsApp.svg') center no-repeat;
    width: 100%;
    height: 100%;
    color: #25D366;
    transition: all .5s ease-in-out;
}

.social--line div .youtube {
    display: block;
    background: url('../img/svg/youtube.svg') center no-repeat;
    width: 100%;
    height: 100%;
    color: #c4302b;
    transition: all .5s ease-in-out;
}

.social--line div .instagram {
    display: block;
    background: url('../img/svg/instagram.svg') center no-repeat;
    width: 100%;
    height: 100%;
/*    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);*/
/*    -webkit-background-clip: text;*/
/*    background-clip: text;*/
/*    -webkit-text-fill-color: transparent;*/
    transition: all .5s ease-in-out;
}

.social--line .youtube:hover,
.social--line .instagram:hover {
    filter: drop-shadow(0 -7mm 4px #dc143c);
}

.social--line .facebook:hover {
    filter: drop-shadow(0 -7mm 4px #3b5998);
}

.social--line .whatsapp:hover {
    filter: drop-shadow(0 -7mm 4px #008000);
}


/*CONTACT SECTION*/

.contacto {    
    position: relative;
    width: var(--all-width);
    height: auto;
    padding: 20px 4%;
    margin: 0 auto;
}

.map {
    display: flex;
    flex-direction: column;
    position: relative;
    width: var(--all-width);
    height: auto;
    margin: 40px auto;
    z-index: 2000;
    gap: .5em;
}

.cont--A, .cont--B {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    width: var(--all-width);
    min-height: 290px;
    gap: .8em;
}

.local-in {
    display: flex;
    position: relative;
    flex-direction: column;
    min-width: 150px;
    max-width: 300px;
    height: auto;
    gap: 1em;
}

.geo {
    display: flex;
    flex-direction: column;
    position: relative;
    width: var(--all-width);
    height: auto;
    gap: .6em;
}

.geo a {
    text-decoration: var(--hidden);
    color: var(--gray-dark);
    text-align: justify;
}

.geo a h5 {
    margin-bottom: .4em;
}

#map, #map2 {
    background: radial-gradient(circle at 30% 10%, #176BEF 0%, #FF3E30 5%, #F7B529 45%, #179C52 60%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.geo a i {
    color: dimgray;
}

.geo a:hover {
	color: var(--gray);
}

.geo a i:hover {
	color: #25D366;
}


.numbers {
    display: flex;
    position: relative;
    flex-direction: column;
    width: var(--all-width);
    gap: .5em;
    text-align: justify;
    height: auto;
}

.numbers a {
    text-decoration: var(--hidden);
    color: var(--gray-dark);
    cursor: pointer;
}

.numbers a:hover {
	color: var(--gray);
}

.foot-journal {    
    margin-top: .5em;
}

.map h5 {
    font-size: 18px;
    text-align: left;
    margin-top: 0;
    margin: .6em 0 0 0;
    color: #1b1b1b;
    font-size: 16px;
}

.foot-journal p {
    user-select: all;
    font-size: 16px;
}

.contact--iframe {
    display: var(--show);
    position: relative;
    min-width: 600px;
    height: auto;
}

.contact--iframe iframe {
    width: var(--all-width);
    height: 290px;
    border: 0;
}

#revers {
    display: flex;
    flex-direction: row-reverse;
}
/*`FORM*/

.bann {
    width: var(--all-width);
    height: auto;
    margin: 0 auto;
    padding: 0;
}

.p5 {
    background-color: #0e1f5210;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 20px;
    margin: 100px 40px 40px 10px;
}

.card {
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    padding: 10px;
    height: auto;
    max-width: 900px;
    gap: .7em;
}

.card-header {
    display: flex
;
    gap: 1em;
}

.card-header figure img {
    width: 30px;
    height: 30px;
}

.card h3 {
    font-size: clamp(12px, 5vw, 24px);
    font-weight: 900;
}

.card-body {
    width: var(--all-width);
    height: auto;
}

.form-group {
    display: flex
;
    position: relative;
    flex-direction: column;
    margin: 1.4em 0;
    font-size: 1.1rem;
    font-weight:700;
}

.form-group button {
	border: var(--hidden);
	padding: .4em;
	border-radius: .4em;
	width: 70px;
	cursor: pointer;
} 

.form-control {
    display: var(--show);
    border: var(--hidden);
    margin: 1em 0;
}

.privacidad iframe {
    display: block;    
    margin: 0 0 0 auto;
    width: 350px;
    height: 150px;
    border: 1px solid #fff;
    scrollbar-width: thin;
}
/*END FORM*/

/*END CONTACT SECTION*/



.foot {
    background-color: var(--gray-dark);
    padding: 5px;
}

.foot-social {
    display: flex;
    position: relative;
    margin: 5px auto;
    justify-content: center;
}

.social--line {
    display: flex;
    position: relative;
    padding: .2em;
    gap: 1.5em;
}

.footer--nav {
    display: flex;
    justify-content: center;
}

.footer--nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 5%;
    list-style: var(--hidden);
    column-gap: 1.5em;
}

.footer--nav a {
    border: var(--hidden);
    color: var(--light-grey);
}

.footer--nav a:hover{
    background: var(--backgroundtransparent);
    
}

.foot-rights {
    text-align: center;
    margin: 20px 0;
    color: var(--light);
    font-size: 0.5rem;
    line-height: 1em;
/*    letter-spacing: .3ch;*/
}

.foot-rights a {
/*    color: #696969;*/
    color: var(--light);
}

.cookieBox {
    display: var(--hidden);
    background-color: var(--dark);
    color: #fff;
    position: fixed;
    bottom: 0px;
    width: auto;
    padding: 10px 20px;
    font-size: 0.6rem;
    opacity: 0.9;
    z-index: 2000;
    margin: 0 auto;
}

.cookieBox a {
    color: var(--white);
}

.cookieBox button {
    margin: .4em;
    padding: .3em;
}

.botonRGPD {
    position: relative;
    cursor: pointer;
}

.botonRGPD:hover{
    color: #30303090;
} 

.cookieBox a{color:var(--white)}
.cookieBox a:hover{color:#ccc;}
.cookieBox p{width:85%;}
.cookieBox button{margin: .4em;padding: .3em;}
.cookieBox button:hover{background-color:#c2c2c2;}
.cookieBox ul {
    display: flex;
    position: relative;
    list-style: var(--hidden);
    gap: 1em;
    justify-content: center;
}

.cook {
    width: 90%;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    object-position: center;
}


/*WHATSAPP WIDGET*/

.whatsapp--widget {
     display: var(--hidden); 
    position: fixed;
    background-image: url(../img/svg/WhatsApp.svg);
    width: 70px;
    height: 70px;
    bottom: 2%;
    right: 2%;
    cursor: pointer;
    z-index: 3000;
    animation: alert 6.5s linear infinite;
    opacity: .8;
    transition: all .4s ease-in;
}

@keyframes alert {
    from {filter: drop-shadow(2px 2px 4px white);}
    25% {filter: drop-shadow(2px 2px 4px green);}
    45% {filter: drop-shadow(2px 2px 4px green);}
    65% {filter: drop-shadow(3px 4px 6px green);}
    85% {filter: drop-shadow(3px 4px 6px white);}
    to {filter: drop-shadow(2px 3px 5px white);}
}

.show {
    display: var(--show);
}

.whatsapp--numbers {
    display: var(--show);
    position: fixed;
    bottom: 3%;
    right: 15%;
    width: 60%;
    height: auto;
    z-index: 4000;
    text-align: center;
    opacity: 0;
    border-radius: 10px;
    padding: 1ch;
    border: 5px solid white;
    background: var(--solid-bground);
/*    background: #36D1DC;*/
/*    background: linear-gradient(to right, #277b82 0%, #36D1DC 100%);*/
    animation: showW .6s linear forwards;
}

.hide__parr {
    display: var(--hidden);
}

@keyframes showW {
    from {opacity: .1;}
    /*45% {opacity: .6;}
    85% {opacity: .8;}*/
    to {opacity: 1;}
}

.whatsapp--numbers h5 {
    color: var(--white);
    margin: .5em 0;
}

.whatsapp--numbers div {
    display: flex;
    justify-content: space-evenly;
    margin: .4em;
    gap: .7em;
}

.whatsapp--numbers a {
    color: var(--white);
}

.whatsapp--widget:hover {
    opacity: 1;
}

/* WHATSAPPWIGET */



@media (width <= 800px) {

    .header {
        display: var(--show);   
    }

    /*.header .logo {
        display: var(--show);
        width: 100%;
        margin:0 auto;
    }*/

    .logo-container {
        width: 100%;
    }

    .header-title {
        width: 100%;
    }

    .nav-link:hover {        
        box-shadow: none;
        border-bottom: none;
    }

    .navbar {
        flex-direction: column;
        height: auto;
        border-bottom: #3758ba;
    }

    .collapse {        
        padding: 20px 0; 
        position: relative;
        width: 100%;
/*        height: 70vw;*/
/*        transform: translateY(170px);*/
        background: #fff9;
/*        transform: translateY(0);*/
        transition: all 1s ease-in;
        height: auto;
        z-index: 4000;
        overflow: hidden;
    }

    .nav-bar {
        display: var(--show);
/*        position: absolute;*/
    }

    .nav-item {
        display: flex;        
        width: auto;    
        justify-content: flex-end;
    }

    .nav-link {
        display: flex;         
        padding: 5px; 
        border-right: var(--hidden);
        justify-content:right;
        border-bottom: 2px solid #77889922;        
        width: 200px;
    }

    .nav-button {
        display: block;
        position: absolute;     
        background: url('../img/svg/button.svg');
        background-repeat: no-repeat;
        background-position: center;
        scale: 2;
        border: var(--hidden);
        cursor: pointer;        
        width: 22px;
        height: 22px;
        right: 2%;
        margin: 10px;
        top: 10%;
        z-index: 6000;
    }

    .nav-button:hover {
        filter: drop-shadow(1px 1px 1px #243fa8c8);
    }

    .navbar-collapse {
/*        position:relative;*/
/*      display: var(--hidden);*/
        padding: 0;
        height: 0;
    }

    
/*CONTACT*/
    .cont--A,
    .cont--B,
    #revers {
        display:var(--show);
    }

    .local-in {     
        position: relative;
        margin-bottom: .5em;
    }

    .foot-journal {
        display: flex;
        position: relative;
        flex-direction: row;
        justify-content: flex-end;
        align-content: flex-end;
        width: fit-content;
        object-position: right;
    }

    .contact--iframe {
        min-width: 300px;
    }

    .privacidad iframe {
        width: var(--all-width);
    }


/*  CONTACT END*/
}