@font-face {
	font-family: "Roboto";
	src: url('../fonts/Roboto/Roboto-Regular.woff');	
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Roboto";
	src: url('../fonts/Roboto/Roboto-Black.woff');	
	font-weight: 700;
	font-style: bold;
	font-display: swap;
}

:root {
/*	--blue: #0052D4;*/
	  /*--indigo: #C45F90;
	  --purple: #A16AE8;
	  --pink: #FC8BC0;
	  --red: #F85C70;
	  --orange: #FF8882;
	  --yellow: #FAD02C;
	  --green: #A3C14A;
	  --teal: #20c997;
	  --cyan: #47D8E0;*/
	  --white: #fff;
	  --gray: #6c757d;
	  --light-grey: #eaeaea;
/*	  --primary: #F85C70;*/
	  /*--secondary: #6c757d;
	  --success: #A3C14A;
	  --info: #47D8E0;
	  --warning: #FF8882;
	  --danger: #F85C70;*/
	  --light: #f8f9fa;
	  --gray-dark: #343a40;
	  --dark: #212529;
	  /*--breakpoint-xs: 0;
	  --breakpoint-sm: 576px;
	  --breakpoint-md: 768px;
	  --breakpoint-lg: 992px;
	  --breakpoint-xl: 1200px;*/
/*	  --font-family-sans-serif: "Source Sans Pro", sans-serif;*/
/*	  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;*/
/*	--padding-container: 100px 0;*/
/*	--color-title: #001A49;*/
	--show: block;
	--hidden: none;
	--all-width: 100%;
	--backgroundtransparent: #0052D468;
	--background: linear-gradient(to left, #36D1DCc9, #36D1DC10);
/*	--background-color: linear-gradient(to left #36D1DC, #36D1DC64, #36D1DC00);*/
}

* {
	content:"";
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
/*	font-family: sans-serif;*/
/*    line-height: 1.15;*/
    -webkit-text-size-adjust: var(--all-width);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

} 

body {
	width: auto;
/*	min-height: 100lvh;*/
	font-weight: 400;
	font-size: 1rem;
/*  line-height: 1.5;*/
	color:var(--dark);
	font-family: Roboto, sans-serif;
/*	font-family: var(--font-family-sans-serif);*/
/*	font-family: 'Poppins';*/
/*	font-family:'Open Sans';*/
	font-optical-sizing: auto;
}
header, 
main {
	background: var(--background) no-repeat center;
}

.header {
	display: flex;
	position: relative;
	align-items: center;
	overflow-x: hidden;
/*	background: var(--background);*/
/*	background: linear-gradient(to left, #36D1DC, #36D1DC64, #36D1DC20);*/
}

.header .logo {
	width: 600px;
	height: 250px;
	padding: 0 30px;
	background: url('../img/svg/crcvlogo.svg') center no-repeat;
	background-size: contain;
	margin:1%;
/*	mix-blend-mode: darken;*/
}

/*.header figure img {
	display: var(--show);
	width: var(--all-width);
	height: var(--all-width);
	object-fit: contain;
}*/

.header-title {
	display: grid;
	margin: 0 40px;
	justify-content: right;
	width: var(--all-width);
	letter-spacing: .1cap;
}

/*.header strong */
.title {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	text-align: center;
	margin: 0 auto;
	font-weight: 900;
	font-size: clamp(18px, 4vw, 27px);
	color: var(--white);
	padding: 10px;
	border-radius: 10%;
	animation: mover-izq-der 3s 1;
/*	animation-fill-mode: forwards;*/
}

/*@keyframes mover-izq-der {
	from {
		transform: translateX(-100px);
	}
	to {
		transform: translateX(10px);
	}
}*/

.navbar {
	display: flex;
	position: relative;
	flex-direction: row-reverse;
/*	background: var(--background-color);*/
/*	background: linear-gradient(to left, #36D1DC, #36D1DC40);*/
	height: 50px;
	border-bottom: 4px solid var(--light);
}

.nav-bar {
	display: flex;
	position: relative;
	list-style: var(--hidden);
	margin: 0 20px;
	z-index: 1000;
	letter-spacing: .1cap;
	font-weight:400;
	align-items: center;
	justify-content: stretch;
}

.nav-item {
	justify-content: stretch;
	align-items: stretch;
	width: 109px;
}

.nav-link, 
.nav-link--footer {
	display: flex;
	position: relative;
	font-size: 0.8rem;
	margin: 0 2px;
	padding: 0 10px;
	border-right: 1px solid var(--light);
	text-align: center;
	justify-content: center;
	align-items: center;
	height: auto;
	height: 50px;
	cursor: pointer;
	opacity: 1;
	text-decoration: var(--hidden);
	color: var(--dark);
/*	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3);*/
	transition: .4s ease-in;
	z-index: 1;
/*	background-color: #00011202;*/
}

.nav-link:hover {
	z-index: 1;
	color: var(--white);
	opacity: 0.8;
	box-shadow: inset -15.5em 0 0 0 #0052D4,inset 15.5em 0 0 0 #0052D4;
	border-bottom: 3px solid var(--gray);
}

.nav-link::before,
.nav-link::after {
	position: absolute;
	content: "";
	z-index: -1;
	color: var(--white);
}

/*.container-fluid {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
*/
.active {
	color: var(--white);
}

.hidden {
	display: var(--hidden);
/*	display: none;*/
}

.home-start {
	display: var(--show);
	position: relative;
	width: var(--all-width);
	height: auto;
	margin: 0 auto;
/*	justify-content: space-between;*/
/*	align-content: center;*/
}

.home-start-side {
	gap: 0.1em;
	display: grid;
	position: relative;
	grid-template-columns: 1fr 350px;
/*	z-index: 2000;*/
}

.home-slider-content {
/*	display: var(--show);*/
	position: relative;
	width: var(--all-width);
	height: 400px;
/*	margin: 0 auto;*/
	/*background-position: center;
	background-repeat: no-repeat;*/
/*	object-fit: cover;*/
/*	align-items: center;*/
	background:linear-gradient(to bottom, #000000a1 0%, #000000c8 50%, #000 100%), url('../img/webp/machi.avif') center no-repeat;
/*	aspect-ratio: 1/;*/
	background-size: contain;
/*	background-position: center;*/
/*	background-repeat: no-repeat;*/
/*	background: linear-gradient(to top, #000000c8 0%, #00000099 100%);*/
}

.home-slider-content h1 {
/*	display: block;*/
	display: flex;
	flex-direction: column;
	position: absolute;	
/*	width: var(--all-width);*/
/*	height: var(--all-width);*/
/*	box-shadow: 1px 1px 5px dimgray;*/
	justify-content: center;
	font-weight: 900;
	font-size: 2rem;
	bottom: 20%;
	left: 50%;
	width: 80%;
/*	line-height: 2;*/
	letter-spacing: .09em;
/*	margin:auto;*/
/*	border: 1px solid black;*/
	color: var(--white);
	transform: translate(-50%, -50%);
/*	text-align: center;*/
/*	margin-bottom: 5px;*/
/*	background: linear-gradient(to top, #000000c8 0%, #00000099 100%);*/
/*	overflow: hidden;*/
}

.home-slider-content .hh {
	font-weight: 600;
	font-size: 1.2rem;
	margin-top: 10px;
}

/*.home-slider img {
	display: var(--show);
	position: absolute;
	width: auto;
	height: var(--all-width);
	margin: .2em;
	align-self: center;	
	background-size: contain;
	background-position: center;
	z-index: -1;
}
*/
.in-img {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	position: relative;
	z-index: 1000;
	width: 90%;
	height: var(--all-width);
	text-align: center;
	place-content: center;
	border-radius: 10px;
}

.in-img h1 {
	font-size: clamp(20px, 3vw, 29px);
	color: var(--white);
}

.in-img .hh {
	color: var(--white);
	display: flex;
	position: relative;
	z-index: 2000;
	font-size: 16px;
	margin: 20px auto;
	padding: 10px;
	max-width: 500px;
}

.nav-button {
	display: var(--hidden);
}

/*[tabindex="-1"]:focus {
  outline: 0 !important;
}*/

/*svg {
  overflow: hidden;
  vertical-align: middle;
}*/


button {
  border-radius: 5px;
  cursor: pointer;
}

button:focus {
  outline: 1px solid var(--gray);
}

/*input,
button,
select,
optgroup,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
*/

/*button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}*/

main {
/*	position: relative;*/
/*	background: #36D1DC;*/
	background: var(--background);
/*	background: -webkit-linear-gradient(to right, #36D1DC90, #F4F1EC);*/
/*	background: linear-gradient(to right, #36D1DC90 0%, #36D1DC10 100%);*/
/*	background: linear-gradient(to right, #36D1DC, #36D1DC40);*/
  	padding-bottom: 30px;
  	user-select: var(--hidden);
/*  	cursor: default;*/
/*  	width: auto;*/
/*  	min-height: 100lvh;*/
}

h1,h2,h3 {
	margin-bottom: 20px;
	padding: 10px;
/*	font-weight: 900;*/
/*	color: #2b2b2b;*/
	color: var(--dark);
/*	font-size: clamp(19px, 4vw, 22px);*/
	text-align: center;
	
/*	user-select: none;*/
}

h1, .h1 {
	/*	width: 422ch;*/
/*	font-size: 1rem;*/
  font-size: clamp(2rem, 2.5vw, 2.7rem);
}

h2, .h2 {
	font-weight:900;
 letter-spacing: .1ch;
	line-height: 2ch;
box-decoration-break: clone;
/*  font-size: 2rem;*/
	font-size: clamp(1.75rem, 2.5vw, 2rem);
}

h3, .h3 {
  font-size: 1.65rem;
}

h4, .h4 {
  font-size: 1.5rem;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

p {
	cursor: default;
/*	user-select: var(--hidden);*/
}

/*address {
	font-style: normal;
	font-weight: 500;
}*/

a {
/*	color: var(--dark);*/
	text-decoration: var(--hidden);
}

/*.pageA div {*/
/*		position: relative;*/
		/*margin: 0;
		width: 100%;
		height: auto;*/
/*		border: 1px solid black;*/
/*	}*/
/*.pageA div iframe {
		position: relative;
		width: 100%;
		height: 100vw;
*//*		border: 1px solid black;*/
/*}*/

/*.pageA div > iframe{
	position: relative;
	width: 100vw;
	height: 150vw;
}*/

::-webkit-scrollbar {
	display: var(--hidden);
}


/*.sobrenosotros h2 {
	line-height: initial;
}*/

.cookieBox {
	display: var(--hidden);
	background-color:var(--dark);
	color:#fff;
	position:fixed;
/*	bottom:50px;*/
	bottom:0px;
	width:auto;
	padding:10px 20px;
	font-size:0.6rem;
	opacity:0.9;
	z-index: 2000;
	margin: 0 auto;
}

.botonRGPD{
	position: relative;
	cursor: pointer;
}

.botonRGPD:hover{
	color: #30303090;
} 

.cookieBox a{color:var(--white)}
.cookieBox a:hover{color:#ccc;}
.cookieBox p{width:85%;}
.cookieBox button{margin: .4em;padding: .3em;}
.cookieBox button:hover{background-color:#c2c2c2;}
.cookieBox ul {
	display: flex;
	position: relative;
	list-style: var(--hidden);
	gap: 1em;
	justify-content: center;
}

.cook {
	width: 90%;
	text-align: center;
	margin: 0 auto;
	justify-content: center;
	object-position: center;
}

/*.wrapper {
  min-height: var(--all-width);
  margin-bottom: -50px;
}*/

.line {
	display: flex;
	position: relative;
	width: var(--all-width);
	margin: 40px 0;
	border: 0.1em solid #0052D4c8;
}

.lineB {
	display: flex;
	position: relative;
	width: var(--all-width);
	height: 55px;
	background: var(--background);
	border-bottom: 2px solid #36c0dc;
	padding: .1em 0;
	margin-bottom: .1em;
	justify-content: center;
}

.social--line {
	display: flex;
	position: relative;
/*	grid-template-columns: auto auto auto auto;*/
/*	margin: auto 0 auto 15px;*/
	padding: .2em;
	align-self: center;
	gap: 1.5em;
}

.social--line figure img {
/*	font-size: 25px;*/
	width: 35px;
	height: 35px;
}

.social--line div .facebook img {
	color: #3b5998;
	transition: all .5s ease-in-out;
}

.social--line div .whatsapp img {
	color: #25D366;
	transition: all .5s ease-in-out;

}

.social--line div .youtube img {
	color: #c4302b;
	transition: all .5s ease-in-out;
}

.social--line div .instagram img {
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
	background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all .5s ease-in-out;
}

/*.social--line .youtube i::after,
.social--line .instagram i::after{
	 content: "YoutTube";
            position: absolute;
            left: 0;
            top: 0;
            white-space: nowrap;
            background-color: #33300000;
            color: #fff;
            padding: 5px;
            border-radius: 3px;
            opacity: 0;
            transition: opacity 0.3s;
            pointer-events: none;
}*/

.social--line .youtube img:hover,
.social--line .instagram img:hover {
	filter: drop-shadow(0 -7mm 4px crimson);
}

.social--line .facebook img:hover {
	filter: drop-shadow(0 -7mm 4px #3b5998);
}

.social--line .whatsapp img:hover {
	filter: drop-shadow(0 -7mm 4px #008000);
}

/*footer {
	margin-top: 100px;
}*/




.aside-social-web {
	display: flex;
	position: relative;
	width: auto;
	height: auto;
	justify-content: flex-end;
	overflow: hidden;
}

.aside-social-web figure {
	max-width: 400px;
	height: var(--all-width);
}

.aside-social-web figure img {
	width: var(--all-width);
	height: var(--all-width);
	object-fit: contain;
}

.home-somos {
	display: flex;
	flex-direction: column;
	position: relative;
	flex-wrap: wrap;
	width: var(--all-width);
	height: auto;
	text-align: justify;
	justify-content: center;
	margin: 0 auto;
	margin-top: 20px;
}

.inicio__quienes {
	display: grid;
	grid-template-columns: 1fr auto;
	gap: 1em;
}

.sobrenosotros {
	line-height: 1.5rem;
	padding: 0 5%;
}

.sobrenosotros h2{
/*	width: 90%;*/
	padding: 0;
}

.sobrenosotros h3 {
	font-size: 1.4rem;
/*	font-weight: 400;*/
	text-align: left;
	margin-bottom: 1em;
}

.inicio__quienes article p {
	margin-bottom: 1em;
} 

.img__quienes figure{
	display: flex;
	justify-content: center;
	width: 300px;
	height: var(--all-width);
	margin: auto;
/*	align-items: flex-end;*/
}

.img__quienes img{
	width: var(--all-width);
	height: var(--all-width);
	object-fit: cover;
}

/*.img-container {
	text-align: center;
	width: auto;
	height: auto;
}

.images {
	display: grid;
	width: auto;
	height: auto;
	gap: 2em;
}*/

.img-container-a {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: var(--all-width);
	height: auto;
/*	padding: 10px;*/
	margin: 0 auto;
	justify-content: center;
}

.images-a,.diagnostic-a  {
	display: flex;
	position: relative;
	flex-direction: row;
	flex-wrap: wrap;
	width: auto;
	height: auto;
	grid-gap: 15px;
	justify-content: space-around;
	align-items: center;
}

.img-container-a p,
.diagnostic-a p {
	margin: 5px;
/*	width: var(--all-width);*/
  box-decoration-break: clone;
}

/*.diagnostic-a {
	display: var(--show);
	position: relative;
	padding: 10px;
	width: var(--all-width);
	height: auto;
	margin: 0 auto;
}*/

.diagnostic-ab {
	display: flex;
	position: relative;
	gap: .8em;
	justify-content: space-around;
	width: var(--all-width);
	height: auto;
	margin: 0 auto 20px auto;
}

.diag-art {
	width: auto;
	height: auto;
	margin: 0.7em;
}

.diag-img {
	position: relative;
	width: 250px;
	height: auto;
	filter: drop-shadow(2px 4px 6px #111);
}

.diag-img img {
	display: block;
	position: relative;
	width: var(--all-width);
	height: 300px;
	border-radius: 10px;
	z-index: -1;
/*	aspect-ratio: 5/6;*/
	object-fit: fill;
}

.button__parr {
	display: flex;
	flex-direction: column;
	position: relative;
	cursor: pointer;
	text-align: left;
	background-color: var(--white);
	width: var(--all-width);
	min-height: 200px;
	scale: 1.1;
	line-height: 1.2;
	bottom: 0;
	z-index: 3000;
	padding: 1.5em .4em;
	justify-content:space-evenly;
/*	line-clamp: 4;*/
}

.diag-li {
	text-align: center;		
	color: #0052D4;
	line-height: 1;
/*	font-weight: 700;*/
/*	font-size: 1.1rem;*/
}

.diag__parr {	
/*	display: contents;*/
	display: flex;
	position: relative;
	font-weight: 400;
/*	background-color: #ffffff;*/
	color: #202020;
	border-radius: .4em;
/*	letter-spacing: .1ch;*/
/*	padding: .1em .3em;*/
	width:auto;
	height: 340px;
	align-items: center;
	
	overflow: hidden;
	transition: all .3s ease-in;
}

.diag__parrB {
	display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  height: 59px;
  width: auto;
  margin: 0 1em;

/*  interpolate-size: allow-keywords;*/
}

/*MAIN END*/




/*.slide-img-a {
	display: flex;
	position: relative;
	width: 400px;
	height: 350px;
	margin: .7em;
	gap: .8em;
	justify-content: space-between;
	align-items: center;
}

.slide-img-a img {
	display: block;
	position: relative;
	object-fit: fill;
	width: 80%;
	height: var(--all-width);
	border-radius: 1em;
	filter: drop-shadow(2px 4px 6px #0011);
}

.slide-img-a p {
	display: block;
	position: absolute;
	min-width: 200px;
	text-align: left;
	margin: 10px;
	left: -5em;
	background-color: var(--white);
	padding: .4em;
	border-radius: 1em;
	font-weight: 600;
	z-index: 1;
}*/

/*summary {
	display: block;
	width: 120px;
	position: relative;
	background-color: #0052D409;
	color: #0052D4;
	text-align: center;
	transition: .4s ease-in;
	opacity: 1;
}
*/
/*summary:hover {
	color: var(--white);
	opacity: .9;
	cursor: pointer;
	box-shadow: inset -5.5em 0 0 0 #0052D4,inset 5.5em 0 0 0 #0052D4;
	padding: .2em;
	z-index: 1;
	transition: all 0.3s ease-in-out;
	border-radius: 10px;
}

.summary::before,
.summary::after {
	position: absolute;
	content: "";
	z-index: -1;
}*/

/*.wa {
	filter: drop-shadow(2px 2px 4px yellow);
}*/

.whatsapp--widget {
	display:var(--hidden);
/*	float: right;*/
	position: fixed;
	background-image: url('../img/svg/WhatsApp.svg');
	width: 70px;
	height: 70px;
	bottom: 2%;
	right: 2%;
	cursor: pointer;
	z-index: 3000;
	animation: alert 6.5s linear 40ms infinite;
	opacity: .8;
	transition: all .4s ease-in;
/*	justify-self: right;*/
/*	border: 1px solid black;*/
/*	margin: 0 0 0 auto;*/
}

.backgtrans {
	background: var(--backgroundtransparent);
}

.whatsapp--widget:hover {
	opacity: 1;
}

.whatsapp--numbers {
	display: var(--show);
	position: fixed;
	bottom: 0;
	right: 10%;
	width: 60%;
	height: auto;
	z-index: 4000;
	align-content: center;
	text-align: center;
/*	gap: 1em;*/
	opacity: 0;
	border-radius: 10px;
	padding: 1ch;
	border: 5px solid white;
	background: #36D1DC;
	background: -webkit-linear-gradient(to right, #36D1DC, #36D1DC);
	background: linear-gradient(to right, #277b82 0%, #36D1DC 100%);
	animation: showW 2.4s linear 100ms forwards;
}

@keyframes showW {
	from {opacity: 0;}
	25% {opacity: 4.1;}
	75% {opacity: 8.1;}
	to {opacity: 1;}
}

.whatsapp--numbers h4 {
	margin: 0;
	padding: .5em .9em;
	text-align: left;
	color: #fafafa;
	width: auto;
	border-bottom: 1px solid #fafafa30;
}

.whatsapp--numbers h5 {
	color: var(--white);
	margin: .5em 0;
}

.whatsapp--numbers div{
	display: flex;
	justify-content: space-evenly;
	margin: .4em;
	gap: .7em;
}

.whatsapp--numbers a {
	color: var(--white);
}

.whatsapp--numbers a:hover {
	color: #303030;
	filter: drop-shadow(2px 2px 4px green);
	transition: all .6s ease-in-out;
}

/*@-webkit-keyframes alert {
	from {filter: drop-shadow(2px 2px 4px white);}
	25% {filter: drop-shadow(3px 4px 6px green);}
	45% {filter: drop-shadow(3px 4px 6px white);}
	65% {filter: drop-shadow(3px 4px 6px white);}
	85% {filter: drop-shadow(3px 4px 6px green);}
	to {filter: drop-shadow(2px 2px 4px white);}
}
*/
@keyframes alert {
	from {filter: drop-shadow(2px 2px 4px white);}
	25% {filter: drop-shadow(3px 4px 6px green);}
	45% {filter: drop-shadow(3px 4px 6px white);}
	65% {filter: drop-shadow(3px 4px 6px white);}
	85% {filter: drop-shadow(3px 4px 6px green);}
	to {filter: drop-shadow(2px 2px 4px white);}
}


#img--ozono {
	object-fit: contain;
	aspect-ratio: 1 / 1;
	background: #1695d949;
}


.hide__parr {
	display: var(--hidden);
	font-size: 16px;
}

/*.img-container h2,*/
.diagnostic-a h2 {
	color: #303030;
	margin-bottom: 40px;
	text-align: center;
	padding: 10px;
	font-size: clamp(19px, 4vw, 22px);
	font-weight: 900;
}

.slide-img {
	width: auto;
	height: auto;
/*	font-size: 16px;*/
	line-height: 1.3rem;
}

.img--container {
	display: flex;
	position: relative;
	 flex-direction: row; 
/*	 flex-wrap: nowrap; */
	/* grid-template-columns: repeat(auto-fill, minmax(300px, fill)); */
/*	grid-template-columns: 1fr auto;*/
/*	grid-template-rows: auto auto;*/
	width: var(--all-width);
	height: auto;
	margin-bottom:10px;
	/* justify-content: space-evenly; */
	/* align-items: flex-start; */
	gap: .1em;
}

.img--container img {
	object-fit: fill;
	object-position: center;
	min-width: 400px;
	height: 350px;
	margin: 5em auto auto auto;
}

.img--caption {
/*	grid-area: 1 / 2;*/
	color: #1b2b1b;
	min-width: 300px;
	height: auto;
	text-align: justify;
	padding: 4em .5em 0 .5em;
	overflow: hidden;
}

/*details,
details > li, 
.slide-img details ul li {
*//*	grid-area: 2 / 1 / 3 / 3;*/
	/*width: 100%;
	padding: .4em .1em;
	font-size: .8rem;
}*/
/*
details[open] p, 
details[open] ul, 
.slide-img details[open] > li {
	font-size: .8rem;
}*/

/*#details-FQ {
	display: block;
}*/
/*
FQs ul {
	list-style: none;
}*/


/*details {    border-radius: 0.2rem;
    padding: 0.5rem;
}

details[open] > summary {
    margin-bottom: 0.5rem;
}

details > summary::marker {
    list-style-type: '▶️';
}

details[open] > summary::marker {
    list-style-type: '🔽';
}*/

.slide-img h3 {
	display: flex;
	position: absolute;
/*	top: 0;*/
	left: 10%;
	font-weight: 900;
	text-align: center;
	margin-bottom: 20px;
}

/*.img--caption h5 {
	font-size: 16px;
	color: #1b2b1b;
	margin: .5em;
}*/

/*.img--caption p {
	margin-top: 4.5em;
}*/

.img--caption p, details p {
	display: flex;
	min-width: 300px;
	text-align: justify;
	margin: 10px auto;
/*	font-size: 16px;*/
	color: #1b2b1b;
	align-items: start;
} 

/*.img--caption ul, */
details ul {
	text-align: justify;
/*	padding-left: 30px;*/
	color: #1b2b1b;
	list-style:var(--hidden);
/*	line-height: 1.3rem;*/
/*	font-size: 16px;*/
}
/*
.cont-aside {
	display: flex;
	position: absolute;
	z-index: 2000;
	top: 0;
	height: 900px;
	right: 0;
}

.cont {
	display: flex;
	position: relative;
	overflow: hidden;
	width: 300px;
	height:1100px;
	right: 0;
	margin: 31px 0;
	padding: 5px;
	background-color: white;
}

.cont-show {
	display: none;
}

.contents {
	display: block;
	position: relative;
	font-size: 0.9rem;
	text-align: center;
	margin: 20px;
	padding: 30px;
	text-align: justify;
}

.cont h3 {
	text-align: center;
	margin-bottom: 30px;
}

.content {
	display: none;
	position: relative;
}

.content-one {
	display: block;
	position: relative;
}

.content-two {
	display: none;
	position: relative;
}

.content-three {
	display: none;
	position: relative;
	padding: 10px;
	column-gap: 30px;
}*/

/*#ciatica {
	object-fit: cover;
	object-position: center;
}*/

/*.content-one li,
.content-two li,
.content-three li {
	margin: 20px 0;
	list-style: lower-roman;
}

.side {
	display: flex;
	position: absolute;
	flex-direction: row;
	right: 0;
	margin: 32px 0;
	padding: 10px 5px;
	background-color: white;
	z-index: 3000;
}*/

/*.pages {
	position: relative;
	justify-content: center;
	align-content: center;
}
*/
/*.mB {*/
/*	display: none;*/
	/*position: relative;
	margin: 0 auto;
	width: auto;
	height: auto;
}*/

/*.hidden {
	display: flex;
	position: relative;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}*/

.diag {
/*	display: none;*/
	position: relative;
	width: var(--all-width);
	height: fit-content;
	text-align: justify;
	margin: 0 auto;
	min-height: 80dvh;
	padding: 20px 10%;
	letter-spacing: .1ch;
	line-height: 1.5rem;
/*	background: linear-gradient(to right, #36D1DC50 0%, #36D1DC11, 100%);*/
/*	background: -webkit-linear-gradient(to right, #36D1DC50 0%, #36D1DC11, 100%);*/
}

.list--diagnostic h4 {
	color: var(--dark);
	margin-bottom: .5em;
}

.diag ul li {
	margin-bottom: 1em;
}

/*.aside-social-web-b {
	display: var(--hidden);
}

.facebookA {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 450px;
}*/

/*.somos {
	position: relative;
	width: 100%;
	padding: 20%;
	text-align: justify;
	margin: 0 auto;
	min-height: 80dvh;
	align-content: center;
	background: linear-gradient(to right, #36D1DC50 0%, #36D1DC11, 100%);
	background: -webkit-linear-gradient(to right, #36D1DC50 0%, #36D1DC11, 100%);
}*/

.FQs {
/*	display: none;*/
	position: relative;
	width: var(--all-width);
	height: fit-content;
	text-align: justify;
	margin: 0 auto;
	min-height: 100vh;
	padding: 100px 10%;
	background: linear-gradient(to right, #36D1DC50 0%, #36D1DC11, 100%);
	background: -webkit-linear-gradient(to right, #36D1DC50 0%, #36D1DC11, 100%);
}

.FQs ul li {
	margin: 10px;
	font-size: 16px;
	list-style: var(--hidden);
}

/*.FQs h4 {
	font-weight: 900;
}*/

/*.FQs h3,
.somos h3,
.diag h3,
.test h3 {
	text-align: center;
	margin-bottom: 20px;
}*/


/*#paragraph details > summary:hover {
	color: #eeeeee;
	box-shadow: inset -90em 0 0 0 #0052D4,inset 50em 0 0 0 #0052D48c;
	padding: .5em;
	transition: all .4s ease-in-out;
}*/


/*details > summary::marker {
    list-style-type: '▶️';
}

details[open] > summary::marker {
    list-style-type: '🔽';
}
*/

.FQs details {
	border-radius: 0.2rem;
  padding: 0.5rem;
}

.FQs details > summary {
	font-weight: 900;
	color: var(--dark);
	width: var(--all-width);
	background-color: var(--hidden);
	text-align: left;
	padding: .4em;
}

.FQs details > p {
	display: var(--show);
	background: #eeeeeec8;
	min-width: 250px;
	padding: .7em;
	border-radius: 10px;
	margin: .3em 0;
}

details > summary {
	display: var(--show);
	width: 100%;
	position: relative;
	background-color: #0052D409;
	color: var(--blue);
	transition: .4s ease-in;
	opacity: 1;

	justify-content: space-between;
	background-color: #0052D409;
	color: var(--blue);
	text-align: left;
	transition: .4s ease-in;
	opacity: 1;
	align-items: center;  
	margin-left: 1ch;
  display: inline-block;
  font-weight: bold;
  margin: auto 10px;
  padding: 0;  transition: 0.4s;
  border-radius: 5px;
}

details > summary::after {
	position: absolute;
	content: "+";
	z-index: -1;
	right: 10px;
}

details > summary:hover {
	color: var(--white);
	opacity: .9;
	cursor: pointer;
	box-shadow: inset -85.5em 0 0 0 #0052D4,inset 85.5em 0 0 0 #0052D4;
	padding: .2em;
	z-index: 1;
	transition: all 0.3s ease-in-out;
	border-radius: 10px;
}

details[open] > summary::after {
	display: inline-block;
  	content: '-';
  	margin-left: 1ch;
  	font-size: 1.5em;
	font-weight: bold;
  	transition: 0.6s;
  }


.service {
	position: relative;
	scale: 1;
	width: var(--all-width);
	height: auto;
	text-align: justify;
	padding: 20px 4%;
	min-height: 80dvh;
/*	background: #36D1DC;*/
/*	background: linear-gradient(to right, #36D1DC50 0%, #36D1DC11, 100%);*/
/*	background: -webkit-linear-gradient(to right, #36D1DC50 0%, #36D1DC11, 100%);*/
}

/*.service-list ul > li {
	max-width: 600px;
	margin: 20px auto;
}*/

.test {
/*	display: none;*/
	min-height: 80dvh;
	padding: 20px 1%;
	overflow: hidden;
/*	background: linear-gradient(to right, #36D1DC50 0%, #36D1DC11, 100%);*/
/*	background: -webkit-linear-gradient(to right, #36D1DC50 0%, #36D1DC11, 100%);*/
}

.container--test {
	display: grid;
	margin: 0 1ch;
	grid-template-columns:minmax(400px, 1fr) repeat(1,400px);
	overflow: hidden;
}

.content--videos {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	width: auto;
	height: auto;
	gap: .5em;
	margin: 0 auto;
/*	justify-content: space-evenly;*/
	overflow: hidden;
}

.content--videos > div {
	display: flex;
	position: relative;
	flex-wrap: nowrap;
	flex-direction: row;
/*	flex-wrap: wrap;*/
	justify-content: space-evenly;
	margin: auto;
	gap: 2em;
	margin: 40px 0;
	width: 400px;
	height: auto;
}

.content--videos video {
	width: var(--all-width);
	height: 315px;
}

.contacto {
/*	display: none;*/
	position: relative;
	width: var(--all-width);
	height: auto;
	padding: 20px 4%;
	margin: 0 auto;
	background: linear-gradient(to right, #36D1DC50 0%, #36D1DC11, 100%);
	background: -webkit-linear-gradient(to right, #36D1DC50 0%, #36D1DC11, 100%);
}

.form-group {
	display: flex;
	position: relative;
	flex-direction: column;
	margin: 1.4em 0;
	font-size: 1.1rem;
	font-weight: 700;
}

.form-control {
	display: var(--show);
	border: var(--hidden);
	margin: 1em 0;
}

.container--maps {
	width: auto;
	height: auto;
}

/*.container--maps h4 {
	font-size:18px;
} 

.container--maps h5 {
	}
*/
.map {
	display: flex;
	flex-direction: column;
	position: relative;
	width: var(--all-width);
	height: auto;
	margin: 40px auto;
	z-index: 2000;
	gap: .5em;
}

.cont--A,
.cont--B {
	display: flex;
	position: relative;
	justify-content: space-evenly;
	align-items: center;
	width: var(--all-width);
	min-height: 290px;
	gap: .8em;
}

#revers {
	display: flex;
	flex-direction: row-reverse;
}

.map h4 {
	font-size: 20px;
} 

.map h5 {
	font-size: 18px;
	text-align: left;
	margin-top:0;
	margin: .6em 0 0 0;
	color: #1b1b1b;
	font-size: 16px;
/*	margin: .3em;*/
}

.contact--iframe {
	display: var(--show);
	position: relative;
	min-width: 600px;
	height: auto;
}

.contact--iframe iframe{
	width: var(--all-width);
	height: 290px;
	border: 0;
}

.geo {
	display: flex;
	flex-direction: column;
	position: relative;
	width: var(--all-width);
	height: auto;
	gap: .6em;
}


.geo a i {
	color: dimgray;
}

.geo a {
	text-decoration: var(--hidden);
	color: var(--gray-dark);
	text-align: justify;
}

.geo a h5{
	margin-bottom: .4em;
}

.geo a:hover {
	color: var(--gray);
}

.geo a i:hover {
	color: #25D366;
}

/*.location {
	gap: .6em;
	justify-content: space-between;
	flex-direction: column;
}

.location h3 {
	margin-bottom: 5px;
}*/

/*FOOTER*/
.foot {
	background-color: var(--gray-dark);
	padding: 5px;
	width: auto;
	height: auto;
}

.foot-social {
	display: flex;
	position: relative;
	margin: 5px auto;
	width: var(--all-width);
	height: auto;
	justify-content: center;
}

.foot-social img{
	color: var(--light);
}

/*.social {
	display: flex;
	position: relative;
	flex-direction: row;
	margin: 0 auto;
}

.social div {
	margin: 10px;
	
}

.social a {
	color: dimgray;
	text-decoration: var(--hidden);
}

.social i:hover {
	color: #ffff;
}*/

/*.foot-social-santiago {
	display: block;
	position: relative;
	flex-direction: column;
	color: #303030;
	margin-top: 10px;
	padding: 10px;
	border-radius: 2px;
	background: #9CECFB;
	background: -webkit-linear-gradient(to bottom, #0052D4, #65C7F7, #9CECFB);
	background: linear-gradient(to bottom, #0052D4, #65C7F7, #9CECFB);
	justify-content: flex-end;
}

.foot-social-santiago article {
	display: flex;
	position: relative;
	width: 100%;
}

.foot-social-santiago i {
	margin: 5px;
	color: #1b1b1b;
}

.foot-social-santiago i:hover {
	color: #25D366;
}

.santiago {
	display: flex;
	position: relative;
	flex-direction: row;
	justify-content: space-around;
	gap: .5em;
	justify-items: stretch;
}*/

.local-in {
	display: flex;
	position: relative;
	flex-direction: column;
	min-width: 150px;
	max-width: 300px;
	height: auto;
	gap: 1em;
}

/*.local-in h2{
	text-align: left;
	margin: 0 0 .5em 0;
}*/

.numbers {
	display: flex;
	position: relative;
	flex-direction: column;
	width: var(--all-width);
	gap: .5em;
	text-align: justify;
	height: auto;
	/* cursor: pointer; */
}

.numbers a {
	text-decoration: var(--hidden);
	color: var(--gray-dark);
	cursor: pointer;
}
/*
.numbers p {
	cursor: pointer;
}*/

.numbers a:hover {
	color: var(--gray);
}

.foot-journal {
	/* cursor: pointer; */
	margin-top: .5em;
}

.foot-journal:hover {
	color: var(--gray);
}

/*.foot-journal h4 {
	margin-bottom: 5px;
}*/

.foot-journal p {
	user-select: all;
	font-size: 16px;
}

.foot-rights {
	display: flex;
	position: relative;
	margin: 20px 0;
	width: var(--all-width);
	height: auto;
	color: #696969;
	justify-content: center;
	font-size: 0.7rem;
}

.foot-rights a {
	color: #696969;
}

/*.nav-button {
	display: var(--hidden);
}*/
/*CONTACT PAGE*/

.card-header {
	display: flex;
	gap: 1em;
}

.card-header figure img {
	width: 30px;
	height: 30px;
}

#contact {
	margin: 0 auto;
}

.bann {
	width: var(--all-width);
	height: auto;
	margin: 0 auto;
	padding: 0;
}

.p5 {
	background-color: #0e1f5210;
	display: flex;
	flex-direction: column;
	position: relative;
	padding: 20px ;
	margin: 100px 40px 40px 10px;
}

.card {
	display: flex;
	flex-direction: column;
	position: relative;
	box-sizing: border-box;
	padding: 10px;
	height: auto;
	max-width: 900px;
	gap: .7em;
}

.card h3{
	font-size: clamp(12px, 5vw, 24px);
	font-weight: 900;
}

.card-body {
	width: var(--all-width);
	height: auto;
}

.form-group button {
	border: var(--hidden);
	padding: .4em;
	border-radius: .4em;
	width: 70px;
	cursor: pointer;
} 

.facebook i:hover {
	color: #3b5998;
}

.whatsapp i:hover {
	color: #25D366;
}

.youtube i:hover {
		color: #c4302b;
}

.instagram i:hover {
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

 #map, 
 #map2 {
 	background: radial-gradient(circle at 30% 10%, #176BEF 0%, #FF3E30 5%, #F7B529 45%, #179C52 60%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
 }

.privacidad iframe{
	display: block;
/*	place-content: center;*/
	margin: 0 0 0 auto;
	width: 350px;
  height: 150px;
/*	scrollbar-width: thin;*/
	 border: 1px solid #fff; 
	 scrollbar-width: thin;
}

/*.pageB {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0 auto;
	justify-content: space-between;	
	width: auto;
	height: auto;
	columns: 400px 2;
}*/

/*.mB:nth-child(3) {
	display: flex;
	position: relative;
	flex-wrap: wrap;
}*/
/*
.content--iframe {
	display:flex;
	justify-content:center;
	margin-bottom:0.5em;
	padding: 20px 4%;
}

.show--test {
	background-color: #00022299;
	width: 100%;
	height: 80lvh;
	z-index: 3000;
	scale: 2;
}*/

/*.btn--testA {
	display: flex;
	flex-direction: column;
	position: relative;
	cursor: pointer;
}*/

/*.content--imgtest {
	width: auto;
	height: auto;
}

.imgs--testA {
	display: flex;
	justify-content:space-evenly;
	overflow: hidden;
}

.images--test {
	width: 200px;
	height: auto;
	cursor: pointer;
	margin: .4em .8em;
}

.images--test #one,
.images--test #two,
.images--test #three {
	display: block;
	width: 100%;
	height: 100%;
}*/

/*.images--test #one:hover,
.images--test #two:hover,
.images--test #three:hover {
	display: block;
	position: absolute;
	width: 80%;
	height: 700px;
	padding: 5% 15%;
	top: 50%;
	left: 50%;
	background-color: #30303088;
	transform: translate(-50%, -10%);
	z-index: 3000;
}*/

.letter--container {
	width: auto;
	height: auto;
	margin: 0 1%;
}

.letter--content {
	margin: 40px 0;
	letter-spacing: .3ch;
	background-color: #0052D4a8;
	color: #fff;
	padding: 1em 4em;
	border-radius: 10px;
}

.letter--content h3 {
	color: #fff;
	text-align: left;
}

.letter--content span {
	  display: var(--show);
    text-align: left;
    font-size: .8rem;
    margin: 1em 0 1em 0;
    width: var(--all-width);
}

.letter--content p {
	font-size: .8rem;
	text-align: start;
	margin-bottom: .9em;
	line-height: 1.5em;
}

.footer--nav {
	display: flex;
	justify-content: center;
}

.footer--nav ul {
	 display: flex;
	 flex-wrap: wrap;
	 justify-content: center;
	 margin: 0 5%;
	 list-style: var(--hidden);
}

.footer--nav a{
/*	color: var(--gray);*/
	border: var(--hidden);
	color: var(--light-grey);
	border-radius: 10px;
}

.footer--nav a:hover{
	background: var(--backgroundtransparent);
	
}

/*.last--letter p {*/
/*	text-transform: capitalize;*/
/*	user-select: text;*/
/*}*/

@media (width <= 800px) {


	.header {
		display: var(--show);
/*		align-items: center;*/
/*		overflow-x: hidden;		*/
/*		background: #36D1DC;*/
/*		background: -webkit-linear-gradient(to right, #36D1DC, #36D1DC);*/
/*		background: linear-gradient(to right, #36D1DC, #36D1DC);*/
	}

	.header .logo {
		display: var(--show);
    	width: 90%;
/*    	padding: 0 2%;*/
/*    height: 250px;*/
/*    padding: 0 30px; */
/*    mix-blend-mode: darken;*/
	}

	.header-title {
		display: var(--show);
/*		text-align: left;*/
/*		right: 0;*/
/*		padding: 0 2%;*/
	}

	.navbar {
		display: flex;
		position: relative;
		flex-direction: column;
		width: auto;
		height: auto;
		border-bottom: #3758bac8;
/*		border:1px solid #000;*/
	}

	.nav-b {
		position:relative;
		/*width: auto;
		height: auto;*/
/*		border: 1px solid #000;*/
	}


	.nav-button {
		display: flex;
		position: absolute;
/*		flex-direction: row-reverse;*/
		background: url('../img/svg/button.svg');
		background-repeat: no-repeat;
		background-position: center;
		scale: 2;
/*		margin: 10px;*/
/*		background: var(--hidden);*/
		border: var(--hidden);
		cursor: pointer;		
		width: 22px;
		height: 22px;
		right: 2%;
		margin: 10px;
		top: 0;
		z-index: 6000;
	}

	.nav-button:hover {
		filter: drop-shadow(1px 1px 1px #243fa8c8);
	}

	.collapse {
		display: var(--show);
/*		flex-direction: column;*/
		position: relative;		
		margin: 0;
		padding: 20px 0;
		top: 10%;
		width: var(--all-width);
		z-index: 3000;
/*		overflow: hidden;*/
/*		background: #fafafac8;*/
		transition: all .7s ease-in;
	}

	.navbar-collapse {
			display: var(--hidden);
/*				height:0.01px;*/
	}

	.nav-bar {
		display: var(--show);
		position: relative;
		margin: 0;
/*		place-content: center;*/
/*		padding-left: 0;*/
	}

	.nav-item {
		display: flex;
		position: relative;
		width: auto;
		/* padding: 1em; */
/*		padding-left: 0;*/
		justify-content: center;
		/* font-size: 30px; */
	}

	.nav-link {
		display: flex;
		position: relative;
		flex-wrap: wrap;
		/* padding: 5px; */
		border-right: var(--hidden);
/*		justify-content:left;*/
/*		padding-left: 0;*/
		/* border-bottom: 2px solid lightslategray; */
		/* border: 1px solid green; */
		width: 200px;
		background: var(--hidden);
	}

	.home-start {
		display: var(--show);
	}

	.home-start-side {
		display: var(--show);
		width: var(--all-width);
	}

	/*.lineB {
		justify-content: left;
	}*/

/*	.home-slider-content {*/
/*		height: 300px;*/
/*		aspect-ratio: 1 / 1;*/
/*	}*/

	/*.home-somos {
		margin: 0 auto;
		padding: 0;
		width: var(--all-width);
		height: auto;
		justify-content: center;
	}*/

	.sobrenosotros h2{
		display: inline;
		width: 90%;
		padding: 0;
	}

	.aside-social-web {
		display: var(--hidden);
	}

	.line {
		border: 0.1em solid #0052D4c8;
		width: var(--all-width);
	}

	.inicio__quienes {
		display: var(--show);
		margin: 0.5em;
	}

	.img__quienes figure{
		display: flex;
		justify-content: center;
		width: 300px;
		height: 450px;
		margin: auto;
	}

	.img__quienes img{
		width: var(--all-width);
		height: var(--all-width);
		object-fit: contain;
	}


	.images, .images-a {
		display: flex;
		flex-direction: column;
	}
	
	.diagnostic-ab {
		display: flex;
		flex-direction: column;
		width: var(--all-width);
		place-items: center;
		justify-content: center;
	}

	.diag-art {
		/*width: auto;
		height: auto;*/
		margin: 40px 0;
/*		padding: 0 0;*/
/*		justify-content: center;*/
	}

	.diag-img {
/*		display: flex;*/
		width: var(--all-width);
		height: var(--all-width);
		margin: 0;
		padding: 0;
		position: relative;
	}

	.diag-img img {
		display: var(--show);
		object-fit: contain;
		margin: 0;
		padding: 0 .4em;
		width: var(--all-width);
		height: auto;
		border-radius: 0;
		object-position: bottom;

/*		position: absolute;*/
/*		height: 100%;*/
	}

	.button__parr {
		position: relative;
		scale: 1;
	}
/*
	.diag-li {
		display: flex;
		position: relative;
		background-color: var(--white);
		flex-direction: column;
		flex-wrap: wrap;
		text-align: center;
		justify-content: center;
		height: auto;
		border-radius: 1em;
		bottom: 10%;
	}*/

	/*.diag__parr {
		position: relative;
		bottom: 0;
	} */

	.whatsapp--numbers {
		left: 20%;
/*		height: auto;*/
	}

	.whatsapp--links {
		display: flex;
		flex-direction: column;
	}

	.whatsapp--numbers div{
		flex-direction: column;
	}

	.whatsapp--numbers h5 {
		margin: .5em;
	}

	/*.whatsapp--numbers h6 {
		margin: .2em 0;
	}*/

	.facebook {
		display: grid;
		position: relative;		
		justify-content: center;		
		width: var(--all-width);		
		margin: 0 auto;
	}

/*CONTACT*/
	.cont--A,
	.cont--B,
	#revers {
		display:var(--show);
	}

	.local-in {		
		position: relative;
		margin-bottom: .5em;
	}

	.foot-journal {
		display: flex;
		position: relative;
		flex-direction: row;
		justify-content: flex-end;
		align-content: flex-end;
		width: fit-content;
		object-position: right;
	}

	.contact--iframe {
		min-width: 330px;
	}

	.privacidad iframe {
		width: var(--all-width);
	}


/*	CONTACT END*/



/*	TESTIMONIO */
	
	.container--test {
		display: flex;
		flex-direction: column-reverse;	
	}

	.content--videos div {
		display: var(--show);	
	}

	.content--videos video {
		width: var(--all-width);
		height: 315px;
	}

	.letter--content {
		padding: 1em 2em;
	}

	.letter--container {
		margin: 1%;
		padding: 1em 1.5em;
	}

/*	TESTIMONIO END */



/*	SERVICIOS*/

	.img--container {
		display: block;		
		margin: 0;		
		width: var(--all-width);
		height: auto;
	}

	.slide-img h3{
		position: relative;
		left: 0;
		color: #303030;
	}

	.img--container img{
		margin-top: .7em;
		min-width: 300px;
		width: var(--all-width);
		height: 350px;
	}

	.images {
		display: flex;
		position: relative;
		margin: 0 auto;
		justify-content: center;
	}



/*	SERVICIOS*/

	/*.wrapper {
	  height: auto;
	  overflow-y: hidden;
	}

	

	.aside-social-web {
		display: var(--show);		
		width: 100%;
		height: 100%;
	}

	.home-slider-conten {
		width: var(--all-width);
		margin: 0;
	}

	.home-slider {
		height: 400px;
	}

	.home-slider img {
		width: var(--all-width);
		height: var(--all-width);		
		object-position: center;
		object-fit: fill;
		background-position: center;
		padding: 0;
		z-index: -1;
	}

	.in-img {
		width: var(--all-width);
	}
	.fb-p {
		display: flex;
		position: relative;
		margin: 0 auto;
		justify-content: center;
		align-content: center;
		width: auto;
		min-height: 400px;
	}

	
	

	.slide-img-a {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		position: relative;
		margin: 40px 0;
		width: var(--all-width);
		height: auto;
	}

	.slide-img-a img {
		width: 250px;
		height: 250px;
	}

	.slide-img-a p {
		position: relative;
		background: #ffff;
		color: #1b1c1b;
	}

	.img--caption {
		max-width: var(--hidden);
		width: var(--all-width);
		height: auto;
		padding: 0;
	}

	.santiago {
		display: var(--show);
	}

	

	.aside-social-web-b {
		display: grid;
		position: relative;
		place-content: center;
		gap: 2em;
		margin: 80px auto 0 auto;
	}

	.service {		
		position: relative;
		flex-direction: column;
	}*/

}


.show {
	display: var(--show);
}


@media (width >= 1828px) {
	
	html {
		position: relative;
		margin: 0 25%;
	}

	.img--container img {
		min-width: 400px;
		height: 300px;
	}

	.letter--content {
		margin: 40px 10%;
	}

	.img--caption {
		/*color: #1b2b1b;
		min-width: 400px;
		max-width: 900px;
		height: auto;
		text-align: justify;
		padding: 4em .5em;*/
		margin: 0 auto;
	}
}