@font-face {
	font-family: "Roboto";
	src: url('../fonts/Roboto/Roboto-Thin.woff2') format('woff2');
    font-style: normal;
	font-weight: 100;	
	font-display: swap;
}

@font-face {
	font-family: "Roboto";
	src: url('../fonts/Roboto/Roboto-Regular.woff2') format('woff2');
    font-style: normal;
	font-weight: 400;	
	font-display: swap;
}

@font-face {
	font-family: "Roboto";
	src: url('../fonts/Roboto/Roboto-Bold.woff') format('woff');
    font-style: normal;
	font-weight: 700;	
	font-display: swap;
}

@font-face {
	font-family: "Roboto";
	src: url('../fonts/Roboto/Roboto-Black.woff2') format('woff2');
    font-style: normal;
	font-weight: 900;
	font-display: swap;
}

/*@font-face {
	font-family: "Open Sans";
	src: url('../fonts/Open_Sans/static/OpenSans-Light.ttf') format('truetype');
    font-style: normal;
	font-weight: 100;	
	font-display: swap;
}

@font-face {
	font-family: "Open Sans";
	src: url('../fonts/Open_Sans/static/OpenSans-Regular.ttf') format('truetype');
    font-style: normal;	
	font-weight: 400;	
	font-display: swap;
}

@font-face {
	font-family: "Open Sans";
	src: url('../fonts/Open_Sans/static/OpenSans-Bold.ttf') format('truetype');
    font-style: normal;	
	font-weight: 700;	
	font-display: swap;
}

@font-face {
	font-family: "Open Sans";
	src: url('../fonts/Open_Sans/static/OpenSans-ExtraBold.ttf') format('truetype');
    font-style: normal;
	font-weight: 900;
	font-display: swap;
}*/